.bar {
    fill: #03a9f4;
    stroke-width: 1px;
    stroke: black;
}

.bar:hover {
    fill: #ff8700;
}

.axis--x path {
    display: none;
}

.axis--x line {
    display: none;
}

.axis--x text {
    font-size: 24px;
}

.axis--y text {
    font-size: 18px;
}

.axis.axis--line text {
    display: none;
}

.axis.axis--line path {
    display: none;
}

.axis.axis--line line {
    stroke-dasharray: 5;
}

#d3-container {
    max-width: 1080px;
    margin: 20px auto;
}

#button-container {
    width: 550px;
    margin: 0 auto;
}

.button {
    cursor: pointer;
    font-size: 24px;
    display: inline;
    padding: 10px;
    margin: 0 20px;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.active {
    color: white;
    background-color: black;
    border-color: grey;
}

@media screen and (max-width: 640px) {
    .axis--x text {
        font-size: 16px;
    }
    .axis--y text {
        font-size: 16px;
    }
    .button {
        margin: 5px;
        font-size: 20px;
        padding: 5px;
    }
    #button-container {
        width: 380px;
    }
}

@media screen and (max-width: 480px) {
    .axis--x text {
        font-size: 12px;
    }
    .axis--y text {
        font-size: 12px;
    }
    .button {
        font-size: 16px;
        padding: 5px;
    }
    #button-container {
        width: 320px;
    }
}
