<div id="d3-container">
    <div id="button-container"></div>
    <svg height="500"></svg>
    <p>資料來源：591租屋網，租金及每坪租金單位為新台幣。</p>
</div>
<script>
    var margin = {
            top: 20,
            right: 20,
            bottom: 30,
            left: 50
        },
        width = parseInt(d3.select('#d3-container').node().clientWidth, 10) > 1080 ? 1080 : parseInt(d3.select('#d3-container').node().clientWidth, 10),
        width = width - margin.left - margin.right,
        svg = d3.select("svg").attr("width", (width + margin.left + margin.right) + 'px'),
        height = +svg.attr("height") - margin.top - margin.bottom;

    var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
        y = d3.scaleLinear().rangeRound([height, 0]);

    var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.csv("rent591_tp_price.csv", function(d) {
        d.price = +d.mean_price;
        d.unit_price = +d.mean_unit_price;
        d.area = +d.mean_area;
        return d;
    }, function(error, data) {
        if (error) throw error;

        window.data = data;

        x.domain(data.map(function(d) {
            return d.town;
        }));
        y.domain([0, d3.max(data, function(d) {
            return d.price;
        })]);

        g.append("g")
            .attr("class", "axis axis--x")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        g.append("g")
            .attr("class", "axis axis--y")
            .call(d3.axisLeft(y).ticks(4, "s"));

        g.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d) {
                return x(d.town);
            })
            .attr("y", function(d) {
                return y(d.price);
            })
            .attr("width", x.bandwidth())
            .attr("height", function(d) {
                return height - y(d.price);
            });

        g.append("g")
            .attr("class", "axis axis--line")
            .call(d3.axisRight(y).ticks(4, "s"));

        d3.selectAll(".axis.axis--line line")
            .attr("x2", width);

        g.append("line")
            .attr("id", "base-line")
            .style("stroke", "black")
            .style("stroke-width", 2)
            .attr("x1", -8)
            .attr("x2", width)
            .attr("y1", y(0))
            .attr("y2", y(0));

        d3.select("#button-container")
            .append("div")
            .datum("price")
            .attr("class", "button price-button")
            .classed("active", true)
            .text("平均租金")
            .on("click", function() {
                d3.select(".active").classed("active", false);
                d3.select(this).classed("active", true);
                clicked(data, "price");
            });

        d3.select("#button-container")
            .append("div")
            .datum("unit_price")
            .attr("class", "button unit-price-button")
            .text("平均每坪租金")
            .on("click", function() {
                d3.select(".active").classed("active", false);
                d3.select(this).classed("active", true);
                clicked(data, "unit_price");
            });

        d3.select("#button-container")
            .append("div")
            .datum("area")
            .attr("class", "button area-button")
            .text("平均租屋坪數")
            .on("click", function() {
                d3.select(".active").classed("active", false);
                d3.select(this).classed("active", true);
                clicked(data, "area");
            });

        function clicked(data, item) {

            var sorted_data = data.sort(function(a, b) {
                return b[item] - a[item];
            });

            x.domain(sorted_data.map(function(d) {
                return d.town;
            }));
            y.domain([0, d3.max(sorted_data, function(d) {
                return d[item];
            })]);

            var t = d3.transition().duration(1000);

            g.select(".axis.axis--y")
                .transition(t)
                .call(d3.axisLeft(y).ticks(4, "s"));

            g.select(".axis.axis--x")
                .transition(t)
                .call(d3.axisBottom(x));

            g.selectAll(".axis.axis--line")
                .transition(t)
                .call(d3.axisRight(y).ticks(4, "s"))
                .selectAll(".axis.axis--line line")
                .attr("x2", width);

            g.selectAll(".bar")
                .transition(t)
                .attr("x", function(d) {
                    return x(d.town);
                })
                .attr("y", function(d) {
                    return y(d[item]);
                })
                .attr("width", x.bandwidth())
                .attr("height", function(d) {
                    return height - y(d[item]);
                });
        }

        d3.select(window).on('resize', resize);

        function resize() {
            // update width
            width = parseInt(d3.select('#d3-container').node().clientWidth, 10) > 1080 ? 1080 : parseInt(d3.select('#d3-container').node().clientWidth, 10),
                width = width - margin.left - margin.right;

            x.rangeRound([0, width]);

            d3.select(g.node().parentNode)
                .attr('height', (y.range()[0] + margin.top + margin.bottom) + 'px')
                .attr('width', (width + margin.left + margin.right) + 'px');

            g.select(".axis.axis--x")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

            var item = d3.select(".active").datum();

            g.selectAll(".bar")
                .attr("x", function(d) {
                    return x(d.town);
                })
                .attr("y", function(d) {
                    return y(d[item]);
                })
                .attr("width", x.bandwidth())
                .attr("height", function(d) {
                    return height - y(d[item]);
                });

            g.selectAll(".axis.axis--line line")
                .attr("x2", width);

            g.select("#base-line")
                .attr("x2", width);
        }
    });
</script>
